@model ServicoModel
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>

        h2 {
            color: white;
        }

        body {
            background-color: white;
        }

        .custom-card {
            background-color: #1859b5;
            border: 1px solid white;
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }

        .custom-form-label {
            color: white;
            font-weight: bold;
        }

        .custom-input::placeholder {
            color: #999;
        }

        .form-group {
            margin-bottom: 20px;
        }

        .btn-group {
            display: flex;
            justify-content: space-between;
        }

        .btn-success {
            background-color: #1859b5;
            border-color: #1859b5;
        }

            .btn-success:hover {
                background-color: green;
                border-color: green;
            }

        .btn-primary {
            background-color: #1859b5;
            border-color: #1859b5;
        }

            .btn-primary:hover {
                background-color: black;
                border-color: #1859b5;
            }
    </style>
</head>

<body>
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6 custom-card">
                <h2 class="text-center">Cadastro de Serviço</h2>

                <form method="post" asp-controller="Servico" asp-action="Cadastrar">
                    <div class="form-group">
                        <label class="custom-form-label" for="ServNome">Nome do Serviço:</label>
                        <input type="text" asp-for="ServNome" class="form-control custom-input" placeholder="Digite o nome do serviço.">
                        <span class="text-danger" asp-validation-for="ServNome"></span>
                    </div>

                    <div class="form-group">
                        <label class="custom-form-label" for="ServDesc">Descrição do Serviço:</label>
                        <input asp-for="ServDesc" type="text" class="form-control custom-input" placeholder="Digite o descrição do serviço.">
                        <span class="text-danger" asp-validation-for="ServDesc"></span>
                    </div>

                    <div class="form-group">
                        <label class="custom-form-label" for="Preco">Valor:</label>
                        <input type="number" asp-for="Preco" class="form-control custom-input" placeholder="Digite valor do serviço.">
                        <span class="text-danger" asp-validation-for="Preco"></span>
                    </div>

                    <div class="btn-group mt-4">
                        <button type="submit" class="btn btn-success">Adicionar</button>
                        <a class="btn btn-primary ml-2" asp-controller="Servico" asp-action="Index">Voltar</a>
                    </div>

                </form>

            </div>
        </div>
    </div>
</body>

</html>